<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CS498 Data Visualization - Final Project</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.5/d3.js"></script>
<script type="text/javascript" src="/paramUtils.js"></script>
<style type="text/css">
    td, th {
      padding: 1px 4px;
      min-width: 200px;
    }

    tr .filter {
        width: 100px;
        height: 50px;
        overflow:hidden;
    }
    table .filter {
        width: 100%;
        height: 100%;
    }
    td {
     vertical-align: top;
    }

    .navCtrl h3{
      margin: 20px;
      vertical-align:bottom
    }

    .navCtrl a{
       margin: 20px;
      vertical-align:bottom
    }
    .jumbotron p{
      font-size:small;
    }
    .jumbotron{
      padding-top:12px;
      padding-bottom:12px;
      padding-left:12px;
    }
</style>

</style>
</head>
<body>
    
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About the Visualization</a></li>
    </ul>
</nav>
</div>

<table>
  <tr>
    <!-- <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> -->
    <td class="navCtrl"><h3>Navigation</h3></td>
    <td>
    <div class="bs-example">
      <ul class="pagination pagination-lg">
        <li class="disabled"><a href="/">&laquo; Previous</a></li>
        <li class="disabled"><a href="/">1</a></li>
        <li><a href="javascript:window.location=buildArgs('page2')">2</a></li>
        <li><a href="javascript:window.location=buildArgs('page3')">3</a></li>
        <li><a href="javascript:window.location=buildArgs('page4')">4</a></li>
        <li><a href="javascript:window.location=buildArgs('page5')">5</a></li>
        <li><a href="javascript:window.location=buildArgs('page6')">6</a></li>
        <li><a href="javascript:window.location=buildArgs('page2')">Next &raquo;</a></li>
      </ul>
    </div>
    </td>
    <td class="navCtrl"><a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Clear Filters</a>   </td>
  </tr>
</table>

<div class="jumbotron"> 
<h2>Can Employee Departures Be Pedicted Using HR Data?</h2>
<br/>
<p class="jumbo">Employee retention is a focal issue for many large companies, especially those in the technical industry where employees have many opportunities available to them.  Hiring a new employee is a long and expensive process, and once hired a company must invest several weeks or months of training into the employee before he or she will become a productive contributor. This cost and loss of productivity is compounded when the new employee is intended to replace a highly productive employee who has decided to leave the company due to low job satisfaction or to pursue a higher salary. 
</p><p class="jumbo">
To minimize the impact from employee turnover, many Human Resource departments are examining their employee data to find patterns in employee departures.  One such dataset was publicly released as part of a Kaggle competition to predict employee departures using machine learning, and can be downloaded from the following link: <a href="https://www.kaggle.com/ludobenistant/hr-analytics">https://www.kaggle.com/ludobenistant/hr-analytics</a>
<br/><br/>
Click the Next >> Button in the Navigation area above to begin exploring this problem.
<p>
</p></div>
    
</body>
</html>   