<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CS498 Data Visualization - Final Project</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.5/d3.js"></script>
<style type="text/css">
    .bs-example{
      margin: 20px;
    }

    text{
      font: 10px sans-serif;
      text-anchor: middle;
    }
</style>
</head>
<body>
    
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About the Visualization</a></li>
    </ul>
</nav>
</div>

<div class="bs-example">
    <ul class="pagination pagination-lg">
        <li><a href="page2">&laquo;</a></li>
        <li><a href="/">1</a></li>
        <li><a href="page2">2</a></li>
        <li class="disabled"><a href="page3">3</a></li>
        <li><a href="page4">4</a></li>
        <li><a href="page5">5</a></li>
        <li><a href="page4">&raquo;</a></li>
    </ul>
</div>
<div class="jumbotron"> 
<h2>Population by Department</h2>

This is place to put content. You can put slider, short description about your website and place some links for navigation.
</div>
<svg width="800" height="500"><g transform="translate(1,1)"></g></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var format = d3.format(",d");

// var color = d3.scaleSequential(d3.scale.category20())
//     .domain([-4, 4]);
var color = d3.scaleOrdinal(d3.schemeCategory20);

var stratify = d3.stratify()
    .parentId(function(d) { return d.id.substring(0, d.id.lastIndexOf(".")); });

var pack = d3.pack()
    .size([width - 2, height - 2])
    .padding(3);

d3.csv("data/dept_size.csv", function(error, data) {
  if (error) throw error;

  var root = stratify(data)
      .sum(function(d) { return d.value; })
      .sort(function(a, b) { return b.value - a.value; });

  pack(root);

  var node = svg.select("g")
    .selectAll("g")
    .data(root.descendants())
    .enter().append("g")
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
      .attr("class", function(d) { return "node" + (!d.children ? " node--leaf" : d.depth ? "" : " node--root"); })
      .each(function(d) { d.node = this; })
      .on("mouseover", hovered(true))
      .on("mouseout", hovered(false));

  node.append("circle")
      .attr("id", function(d) { return "node-" + d.id; })
      .attr("r", function(d) { return d.r; })
      .style("fill", function(d) { 
        return pickColor(d);
      });

  var leaf = node.filter(function(d) { return !d.children; });

  leaf.append("clipPath")
      .attr("id", function(d) { return "clip-" + d.id; })
    .append("use")
      .attr("xlink:href", function(d) { return "#node-" + d.id + ""; });

  leaf.append("text")
      .attr("clip-path", function(d) { return "url(#clip-" + d.id + ")"; })
    .selectAll("tspan")
    .data(function(d) { return d.id.substring(d.id.lastIndexOf(".") + 1).split(/(?=[A-Z][^A-Z])/g); })
    .enter().append("tspan")
      .attr("x", 0)
      .attr("y", function(d, i, nodes) { return 13 + (i - nodes.length / 2 - 0.5) * 10; })
      .text(function(d) { return d; });

  node.append("title")
      .text(function(d) { return d.id + "\n" + format(d.value); });


  var legend = svg.selectAll(".legend")
        .data(data)
        .enter().append("g")
           .attr("class", "legend")
           .attr("transform", function(d, i) { return "translate(0," + (i * 20) + ")"; });
    legend.append("rect")
           .attr("x", width-100)
           .attr("width", 18)
           .attr("height", 18)
           .style("fill", function(d){ return pickColor(d);});
    legend.append("text")
           .attr("x", width- 80)
           .attr("y", 9)
           .attr("dy", ".35em")
           .style("text-anchor", "start")
           .text(function(d) {return d.id;});

});

function hovered(hover) {
  return function(d) {
    d3.selectAll(d.ancestors().map(function(d) { return d.node; })).classed("node--hover", hover);
  };
}

function pickColor(d){
  if(d.id==="all")
    return color(0);
  if(d.id==="all.sales" || d.id==="all.support" || d.id==="all.technical")
          return color(1);
        return color(2);
}

</script>
</html>   