<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CS498 Data Visualization - Final Project</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.5/d3.js"></script>
<script type="text/javascript" src="/paramUtils.js"></script>
<style type="text/css">
    .bs-example{
      margin: 20px;
    }

    .dot{
      stroke: #000;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .tooltip {
      position: absolute;
      width: 200px;
      height: 28px;
      pointer-events: none;
    }


    tr .filter {
        width: 100px;
        height: 50px;
        overflow:hidden;
    }
    table .filter {
        width: 100%;
        height: 500px;
    }

    td {
     vertical-align: top;
    }
</style>
</head>
<body>
    
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About the Visualization</a></li>
    </ul>
</nav>
</div>

<div class="bs-example">
    <ul class="pagination pagination-lg">
        <li><a href="javascript:window.location=buildArgs('page3')">&laquo;</a></li>
        <li><a href="/">1</a></li>
        <li><a href="javascript:window.location=buildArgs('page2')">2</a></li>
        <li><a href="javascript:window.location=buildArgs('page3')">3</a></li>
        <li class="disabled"><a href="javascript:window.location=buildArgs('page4')">4</a></li>
        <li><a href="javascript:window.location=buildArgs('page5')">5</a></li>
        <li><a href="javascript:window.location=buildArgs('page5')">&raquo;</a></li>
    </ul>
</div>
<div class="jumbotron"> <p>
<h2>Predictors of Employee Departures</h2>

This is place to put content. You can put slider, short description about your website and place some links for navigation.
</p></div>
<table > 
    <tr>
      <td>
        <div id="scatterPlot" valign="top">
        <h3>Departure Rate by Department</h3>
        <svg id="chart" width="800" height="500"></svg></div>
      </td>
      <td border="1">
        <table class="filter" valign="top">
<!--           <tr class="filter" >
              <th><h3>Salary</h3></th>
          </tr>
          <tr>
           <td><input type="checkbox" id="filterAllSal" name="filterAllSal" onclick="allSalaryRanges('page4', this);">
            <label for="filterAllSal" onclick="toggleCheckbox('filterAllSal'); return false;">ALL</label></td>
          </tr>
          <tr>
           <td><input type="checkbox" id="filterHigh" name="filterHigh" onclick="applyFilter('page4', this);">
            <label for="filterHigh" onclick="toggleCheckbox('filterHigh'); return false;">High Salary</label></td>
          </tr>
          <tr>
            <td><input type="checkbox" id="filterMed" name="filterMed" onclick="applyFilter('page4', this);">
            <label for="filterMed" onclick="toggleCheckbox('filterMed'); return false;">Medium Salary</label></td>
          </tr>
          <tr>
            <td><input type="checkbox" id="filterLow" name="filterLow" onclick="applyFilter('page4', this);">
            <label for="filterLow" onclick="toggleCheckbox('filterLow'); return false;">Low Salary</label></td>
          </tr> -->

          <tr >
              <th><h3>Department</h3></th>
          </tr>
          <tr>
           <td><input type="checkbox" id="filterAllDept" name="filterAllDept" onclick="allDepartments('page4', this);">
            <label for="filterAllDept" onclick="toggleCheckbox('filterAllDept'); return false;">ALL</label></td>
          </tr>
          <tr>
           <td><input type="checkbox" id="filterAccounting" name="filterAccounting" onclick="applyFilter('page4', this);">
            <label for="filterAccounting" onclick="toggleCheckbox('filterAccounting'); return false;">Accounting</label></td>
          </tr>
          <tr>
            <td><input type="checkbox" id="filterHR" name="filterHR" onclick="applyFilter('page4', this);">
            <label for="filterHR" onclick="toggleCheckbox('filterHR'); return false;">Human Resources</label></td>
          </tr>
          <tr>
            <td><input type="checkbox" id="filterIT" name="filterIT" onclick="applyFilter('page4', this);">
            <label for="filterIT" onclick="toggleCheckbox('filterIT'); return false;">IT</label></td>
          </tr>
          <td><input type="checkbox" id="filterMgmt" name="filterMgmt" onclick="applyFilter('page4', this);">
            <label for="filterMgmt" onclick="toggleCheckbox('filterMgmt'); return false;">Management</label></td>
          </tr>
          <tr>
            <td><input type="checkbox" id="filterMarketing" name="filterMarketing" onclick="applyFilter('page4', this);">
            <label for="filterMarketing" onclick="toggleCheckbox('filterMarketing'); return false;">Marketing</label></td>
          </tr>
          <tr>
            <td><input type="checkbox" id="filterPM" name="filterPM" onclick="applyFilter('page4', this);">
            <label for="filterPM" onclick="toggleCheckbox('filterPM'); return false;">Product Management</label></td>
          </tr>
           <tr>
            <td><input type="checkbox" id="filterRND" name="filterRND" onclick="applyFilter('page4', this);">
            <label for="filterRND" onclick="toggleCheckbox('filterRND'); return false;">R and D</label></td>
          </tr>
          <tr>
          <td><input type="checkbox" id="filterSales" name="filterSales" onclick="applyFilter('page4', this);">
            <label for="filterSales" onclick="toggleCheckbox('filterSales'); return false;">Sales</label></td>
          </tr>
          <tr>
            <td><input type="checkbox" id="filterSupport" name="filterSupport" onclick="applyFilter('page4', this);">
            <label for="filterSupport" onclick="toggleCheckbox('filterSupport'); return false;">Support</label></td>
          </tr>
          <tr>
            <td><input type="checkbox" id="filterTech" name="filterTech" onclick="applyFilter('page4', this);">
            <label for="filterTech" onclick="toggleCheckbox('filterTech'); return false;">Technical</label></td>
          </tr>
          <tr class="filter"></tr>

        </table>
      </td>
    </tr>
  </table>
</body>
<script>
 
  parseArgs();
  setCheckboxValues();
  //initialize global variables 
  var svg = d3.select("#chart");

  var margin = {top: 20, right: 180, bottom: 30, left: 40},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom;

  var g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  //initialize X variables
  var xValue = function(d){
      return d.Number_of_Records; //the column that we're plotting on the X plain
      },
      xScale = d3.scale.linear().range([0, width]),
      xMap = function(d){
          return xScale(xValue(d));
      },
      xAxis = d3.svg.axis().scale(xScale).orient("bottom").ticks(10);

  //initialize Y variables
  var yValue = function(d){
  //        console.log(d.Left_Company);
        return d.Left_Company;  //the column that we're plotting on the Y plain
      },
      yScale = d3.scale.linear().range([height, 0]),
      yMap = function(d){
        // console.log("mapping "+d);
        return yScale(yValue(d));
      },
      yAxis = d3.svg.axis().scale(yScale).orient("left");

  //chose how to color the values
  var cValue = function(d){
    return d.Department;
  };

  //color scheme
  var color = d3.scale.category20();

  //tooltips
  var tooltip = d3.select("body").append("div")
      .attr("class", "tooltip")
      .style("opacity", 0);

  //magically draw chart using D3
  d3.csv("data/dept_rate_size.csv", function(error, data){
    data.forEach(function(d){

      appFilter(d);
      d.Number_of_Records = +d.Number_of_Records;
      d.Left_Company = +d.Left_Company;
    });

    var xMin = d3.min(data, xValue)-1;
    var xMax = d3.max(data, xValue)+100;
    var yMin = d3.min(data, yValue)-1;
    var yMax = d3.max(data, yValue)+100;

    xScale.domain([xMin, xMax]);
    yScale.domain([yMin, yMax]);

    var line = d3.svg.line()
      .x(function(d) { return xScale(d.Number_of_Records); })
      .y(function(d) { return yScale(d.Left_Company); });
    
    //draw the X Axis
    g.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0, "+height +")")
          .call(xAxis)
        .append("text")
          .attr("class", "label")
          .attr("x", width)
          .attr("y", -6)
          .style("text-anchor", "end")
          .text("Department Population");

    // draw the Y Axis
    g.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("class", "label")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".8em")
          .style("text-anchor", "end")
          .text("Departure Count");

    //draw the points
    g.selectAll(".dot")
        .data(data)
      .enter()
        .append("circle")
          .attr("class", "dot")
          .attr("r", function(d){ return d.Number_of_Records/150; }) //TODO: scale the dot size
          .attr("cx", xMap)
          .attr("cy", yMap)
          .style("fill", function(d){
                return color(cValue(d));
             })
          .on("mouseover", function(d){
                tooltip.transition()
                    .duration(200)
                    .style("opacity",.9);
                tooltip.html(d["Department"]+"<br/> ("+yValue(d) +" left of "+ xValue(d)+")")
                    .style("left", (d3.event.pageX + 15) + "px")
                    .style("top", (d3.event.pageY + 10) + "px");
             })
          .on("mouseout", function(d){
                tooltip.transition()
                    .duration(500)
                    .style("opacity",0);
          });

    //draw the trend line
    var xSeries = data.map(function(d) {return parseFloat(d.Number_of_Records);});
    var ySeries = data.map(function(d) { return parseFloat(d.Left_Company); });
    
    var leastSquaresCoeff = leastSquares(xSeries, ySeries);
    
    // apply the reults of the least squares regression
    var x1 = 1;
    var y1 = leastSquaresCoeff[0] + leastSquaresCoeff[1];
    var x2 = xMax;
    var y2 = leastSquaresCoeff[0] * xMax + leastSquaresCoeff[1];
    var trendData = [[x1,y1,x2,y2]];
    
    var trendline = svg.selectAll(".trendline")
      .data(trendData);
      
    trendline.enter()
      .append("line")
      .attr("class", "trendline")
      .attr("x1", xScale(xMin))
      .attr("y1", yScale(findYOfLine(xMin, leastSquaresCoeff[0], leastSquaresCoeff[1])))
      .attr("x2", xScale(xMax))
      .attr("y2", yScale(findYOfLine(xMax, leastSquaresCoeff[0], leastSquaresCoeff[1])))
      .attr("stroke", "black")
      .attr("stroke-width", 2)
      .attr("transform", "translate(40,20)")
      .on("mouseover", function(d){
                tooltip.transition()
                    .duration(200)
                    .style("opacity",.9);
                tooltip.html("trendline: " + leastSquaresCoeff[0].toFixed(2) + "x + " + 
                    leastSquaresCoeff[1].toFixed(2)+"<br/> r-sq: " + leastSquaresCoeff[2].toFixed(3))
                    .style("left", (d3.event.pageX + 15) + "px")
                    .style("top", (d3.event.pageY + 10) + "px");
             })
      .on("mouseout", function(d){
                tooltip.transition()
                    .duration(500)
                    .style("opacity",0);
       });


    //draw the legend
    var legend = svg.selectAll(".legend")
        .data(color.domain())
        .enter().append("g")
           .attr("class", "legend")
           .attr("transform", function(d, i) { return "translate(0," + (i * 20+200) + ")"; });
    legend.append("rect")
           .attr("x", width+18)
           .attr("width", 18)
           .attr("height", 18)
           .style("fill", color);
    legend.append("text")
           .attr("x", width+44)
           .attr("y", 9)
           .attr("dy", ".35em")
           .style("text-anchor", "start")
           .text(function(d) { console.log(d);return d;})

  });

// returns slope, intercept and r-square of the line
  function leastSquares(xSeries, ySeries) {
    var reduceSumFunc = function(prev, cur) { return prev + cur; };
    
    var xBar = xSeries.reduce(reduceSumFunc) * 1.0 / xSeries.length;
    var yBar = ySeries.reduce(reduceSumFunc) * 1.0 / ySeries.length;

    var ssXX = xSeries.map(function(d) { return Math.pow(d - xBar, 2); })
      .reduce(reduceSumFunc);
    
    var ssYY = ySeries.map(function(d) { return Math.pow(d - yBar, 2); })
      .reduce(reduceSumFunc);
      
    var ssXY = xSeries.map(function(d, i) { return (d - xBar) * (ySeries[i] - yBar); })
      .reduce(reduceSumFunc);
      
    var slope = ssXY / ssXX;
    var intercept = yBar - (xBar * slope);
    var rSquare = Math.pow(ssXY, 2) / (ssXX * ssYY);
    
    return [slope, intercept, rSquare];
  }

  function findYOfLine(x, slope, intercept){
    return slope*x + intercept;
  }

  function appFilter(d){
   d.Number_of_Records = +d.Number_of_Records;
   d.Left_Company = +d.Left_Company;

    if("technical".localeCompare(d.Department)===0 && isFilterApplied("filterTech")) {
      d.Number_of_Records=0;
      d.Left_Company = 0;
    }
    else if("hr".localeCompare(d.Department)===0 && isFilterApplied("filterHR")) {
      d.Number_of_Records=0;
      d.Left_Company = 0;
    }
    else if("support".localeCompare(d.Department)===0 && isFilterApplied("filterSupport")) {
      d.Number_of_Records=0;
      d.Left_Company = 0;
    }
    else if("sales".localeCompare(d.Department)===0 && isFilterApplied("filterSales")) {
      d.Number_of_Records=0;
      d.Left_Company = 0;
    }
    else if("RandD".localeCompare(d.Department)===0 && isFilterApplied("filterRND")) {
      d.Number_of_Records=0;
      d.Left_Company = 0;
    }
    else if("product_mng".localeCompare(d.Department)===0 && isFilterApplied("filterPM")) {
      d.Number_of_Records=0;
      d.Left_Company = 0;
    }
    else if("marketing".localeCompare(d.Department)===0 && isFilterApplied("filterMarketing")) {
      d.Number_of_Records=0;
      d.Left_Company = 0;
    }
    else if("management".localeCompare(d.Department)===0 && isFilterApplied("filterMgmt")) {
      d.Number_of_Records=0;
      d.Left_Company = 0;
    }
    else if("IT".localeCompare(d.Department)===0 && isFilterApplied("filterIT")) {
      d.Number_of_Records=0;
      d.Left_Company = 0;
    }
    else if("accounting".localeCompare(d.Department)===0 && isFilterApplied("filterAccounting")) {
      d.Number_of_Records=0;
      d.Left_Company = 0;
    }


  return d;
}

</script>

</body>
</html>   