<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CS498 Data Visualization - Final Project</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/paramUtils.js"></script>
<!--<script src="assets/js/d3.min.js"></script>-->
<style type="text/css">
		.bs-example{
			margin: 20px;
		}

		tr .filter {
   			width: 100px;
    		height: 50px;
    		overflow:hidden;
		}
		table .filter {
   			width: 100%;
    		height: 100%;
		}
</style>
</head>
<body>
		
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
			 <ul class="nav navbar-nav">
			<li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
			<li ><a href="/about">About the Visualization</a></li>
		</ul>
</nav>
</div>

<div class="bs-example">
		<ul class="pagination pagination-lg">
				<li><a href="javascript:window.location=buildArgs('page4')">&laquo;</a></li>
				<li><a href="/">1</a></li>
				<li><a href="javascript:window.location=buildArgs('page2')">2</a></li>
				<li><a href="javascript:window.location=buildArgs('page3')">3</a></li>
				<li><a href="javascript:window.location=buildArgs('page4')"">4</a></li>
				<li class="disabled"><a href="#">5</a></li>
				<li class="disabled"><a href="#">&nbsp;</a></li>
		</ul>
</div>
<div class="jumbotron"> <p>
<h2>Predictors of Employee Departures</h2>


This is place to put content. You can put slider, short description about your website and place some links for navigation.
</p></div>
	<table>
		<tr>
			<td>
				<div id="stackedbars">
					<h3>Rating on Last Evaluation</h3>
					<svg id="chart" width="800" height="500"></svg>
				</div>
			</td>
			<td border="1">
				<table class="filter" valign="top">
  				<tr class="filter" >
    					<th><h3>Salary</h3></th>
  				</tr>
  				<tr>
   				 <td><input type="checkbox" id="filterAllSal" name="filterAllSal" onclick="allSalaryRanges('page5', this);">
					  <label for="filterAllSal" onclick="toggleCheckbox('filterAllSal'); return false;">ALL</label></td>
  				</tr>
 					<tr>
   				 <td><input type="checkbox" id="filterHigh" name="filterHigh" onclick="applyFilter('page5', this);">
					  <label for="filterHigh" onclick="toggleCheckbox('filterHigh'); return false;">High Salary</label></td>
  				</tr>
  				<tr>
   				  <td><input type="checkbox" id="filterMed" name="filterMed" onclick="applyFilter('page5', this);">
					  <label for="filterMed" onclick="toggleCheckbox('filterMed'); return false;">Medium Salary</label></td>
  				</tr>
  				<tr>
   				  <td><input type="checkbox" id="filterLow" name="filterLow" onclick="applyFilter('page5', this);">
					  <label for="filterLow" onclick="toggleCheckbox('filterLow'); return false;">Low Salary</label></td>
  				</tr>

  				<tr class="filter" >
    					<th><h3>Department</h3></th>
  				</tr>
  				<tr>
   				 <td><input type="checkbox" id="filterAllDept" name="filterAllDept" onclick="allDepartments('page5', this);">
					  <label for="filterAllDept" onclick="toggleCheckbox('filterAllDept'); return false;">ALL</label></td>
  				</tr>
 					<tr>
   				 <td><input type="checkbox" id="filterAccounting" name="filterAccounting" onclick="applyFilter('page5', this);">
					  <label for="filterAccounting" onclick="toggleCheckbox('filterAccounting'); return false;">Accounting</label></td>
  				</tr>
  				<tr>
   				  <td><input type="checkbox" id="filterHR" name="filterHR" onclick="applyFilter('page5', this);">
					  <label for="filterHR" onclick="toggleCheckbox('filterHR'); return false;">Human Resources</label></td>
  				</tr>
  				<tr>
   				  <td><input type="checkbox" id="filterIT" name="filterIT" onclick="applyFilter('page5', this);">
					  <label for="filterIT" onclick="toggleCheckbox('filterIT'); return false;">IT</label></td>
  				</tr>
  				<td><input type="checkbox" id="filterMgmt" name="filterMgmt" onclick="applyFilter('page5', this);">
					  <label for="filterMgmt" onclick="toggleCheckbox('filterMgmt'); return false;">Management</label></td>
  				</tr>
  				<tr>
   				  <td><input type="checkbox" id="filterMarketing" name="filterMarketing" onclick="applyFilter('page5', this);">
					  <label for="filterMarketing" onclick="toggleCheckbox('filterMarketing'); return false;">Marketing</label></td>
  				</tr>
  				<tr>
   				  <td><input type="checkbox" id="filterPM" name="filterPM" onclick="applyFilter('page5', this);">
					  <label for="filterPM" onclick="toggleCheckbox('filterPM'); return false;">Product Management</label></td>
					</tr>
					 <tr>
   				  <td><input type="checkbox" id="filterRND" name="filterRND" onclick="applyFilter('page5', this);">
					  <label for="filterRND" onclick="toggleCheckbox('filterRND'); return false;">R and D</label></td>
					</tr>
					<tr>
					<td><input type="checkbox" id="filterSales" name="filterSales" onclick="applyFilter('page5', this);">
					  <label for="filterSales" onclick="toggleCheckbox('filterSales'); return false;">Sales</label></td>
  				</tr>
  				<tr>
   				  <td><input type="checkbox" id="filterSupport" name="filterSupport" onclick="applyFilter('page5', this);">
					  <label for="filterSupport" onclick="toggleCheckbox('filterSupport'); return false;">Support</label></td>
  				</tr>
  				<tr>
   				  <td><input type="checkbox" id="filterTech" name="filterTech" onclick="applyFilter('page5', this);">
					  <label for="filterTech" onclick="toggleCheckbox('filterTech'); return false;">Technical</label></td>
  				</tr>

				</table>
			</td>
		</tr>
	</table>
</body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
parseArgs();
setCheckboxValues();
var svg = d3.select("#chart"),
		margin = {top: 20, right: 140, bottom: 30, left: 40},
		width = +svg.attr("width") - margin.left - margin.right,
		height = +svg.attr("height") - margin.top - margin.bottom,
		g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var x = d3.scaleBand()
		.rangeRound([0, width])
		.padding(0.3)
		.align(0.3);

var y = d3.scaleLinear()
		.rangeRound([height, 0]);

var z = d3.scaleOrdinal(d3.schemeCategory20);
		// .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

var stack = d3.stack();

d3.csv("../data/last_eval_rating.csv", type, function(error, data) {
	if (error){
		console.log("couldn't find csv");
		throw error;  
	} 

	data.sort(function(a, b) {
		return a.rating - b.rating; })
	;

	x.domain(data.map(function(d) { return d.rating; }));
	y.domain([0, d3.max(data, function(d) { return d.total; })]).nice();
	z.domain(data.columns.slice(1));

	g.selectAll(".serie")
		.data(stack.keys(data.columns.slice(1))(data))
		.enter().append("g")
			.attr("class", "serie")
			.attr("fill", function(d) { return z(d.key); })
		.selectAll("rect")
		.data(function(d) { return d; })
		.enter().append("rect")
			.attr("x", function(d) { return x(d.data.rating); })
			.attr("y", function(d) { return y(d[1]); })
			.attr("height", function(d) { return y(d[0]) - y(d[1]); })
			.attr("width", x.bandwidth());

	g.append("g")
			.attr("class", "axis axis--x")
			.attr("transform", "translate(0," + height + ")")
			.call(d3.axisBottom(x).tickValues(x.domain().filter(function(d, i){return ((d*10)%1==0)})));

	g.append("g")
			.attr("class", "axis axis--y")
			.call(d3.axisLeft(y).ticks(10, "s"))
		.append("text")
			.attr("x", 2)
			.attr("y", y(y.ticks(10).pop()))
			.attr("dy", "0.35em")
			.attr("text-anchor", "start")
			.attr("fill", "#000")
			.text("Number of Departures");

	var legend = g.selectAll(".legend")
		.data(data.columns.slice(1).reverse())
		.enter().append("g")
			.attr("class", "legend")
			.attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; })
			.style("font", "10px sans-serif");

	legend.append("rect")
			.attr("x", width + 18)
			.attr("width", 18)
			.attr("height", 18)
			.attr("fill", z);

	legend.append("text")
			.attr("x", width + 44)
			.attr("y", 9)
			.attr("dy", ".35em")
			.attr("text-anchor", "start")
			.text(function(d) { return d; });
});

function type(d, i, columns) {
	for (i = 1, t = 0; i < columns.length; ++i) t += d[columns[i]] = +d[columns[i]];
	d.total = t;
	return d;
}
</script>
		

</body>
</html>   